.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}

.carousel-image {
  width: 100px; /* Ajusta al tamaño deseado */
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
